<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ver1">
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_logo_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.home.Shop.ShopActivity"></activity>
        <activity
            android:name=".ui.home.EyeBrow.EyebrowActivity"
            android:label="@string/title_activity_eyebrow"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.home.Astetic.AsteticActivity"
            android:label="@string/title_activity_astetic"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".MainActivity" />
        <activity
            android:name=".ui.info.interdesigner.InterdesignerActivity"
            android:label="@string/title_activity_indesigner"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.info.reserve.ReservationActivity"
            android:label="@string/title_activity_reservation"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.info.intershop.IntershopActivity"
            android:label="@string/title_activity_inshop"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".ui.more.ChatActivity"
            android:label="@string/title_activity_chat"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.home.Shop.ShopinfoActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.home.Shop.ShopfilterActivity"
            android:theme="@style/AppTheme.NoActionBar" />

                <activity
            android:name=".SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>